body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.input-section {
    display: flex;
    margin-bottom: 20px;
}
.input-section input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.input-section button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}
.input-section button:hover {
    background-color: #218838;
}
.todo-list ul {
    list-style: none;
    padding: 0;
}
.todo-list li {
    background-color: #e9e9e9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.todo-list li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
    color: #6c757d;
}
#remove {
    background-color: #dc3545;
    color: white;
    border: none;
    height: 35px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#remove:hover {
    background-color: #c82333;
}
#conclui {
    background-color: #19580d;
    color: white;
    border: none;
    height: 35px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#conclui:hover {
    background-color: #32c045;
}
.todo-list li span {
    flex-grow: 1;
    cursor: pointer; /* Para marcar como concluída */
}
.buttonsItem{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonsItem button{
    width: 40px;
    height: 4%;
}